img{
	width: 100%;
	filter: opacity(30%);
}
div.pagina{
	position: fixed;
	width: 100%;
	height: 100%;
}
.cabecalho{
	text-align: left;
	font-size: 10px;
	color: #000;
	margin-bottom: 60px;
}
.menu-lateral {
	margin-top: 150px;
}
.menu-lateral .title {
	font-size: 20px;
	font-weight: 600;
	padding-left: 20px;
	background-color: #fff;
}
ul.menu {
	list-style: none;
	padding-left: 0px;
}

ul.menu li {
	padding: 10px;
	padding-left: 0px;
	background-color: #fffafa;
	border-bottom: 2px solid #38adf8;
}

ul.menu li {
	padding-left: 20px;
	font-weight: 600;
	font-size: 18px;
}
.tabela{
	margin-top: 30px;
}

td.buttons{
	width: 270px;;
}
.table thead th{
	font-size: 13px;
	text-align: center;
}
.table td{
	text-align: center;
}
.btn-primary{
	text-align: left;
}

